<%-include("partials/header", {title:'Edit User'}) %>
<%-include("partials/menu", {active:baseUrl,admin:admin}) %>
<h2>Users</h2>
<h3>Edit User: <%=user.firstName%> <%=user.lastName%></h3>
<br>
<div class="form_container">
    <form method="POST" action="/users/updateUser">
        <input type="hidden" name="userId" placeholder="" required value="<%=user.id%>"/>
        <label for="firstName">First name: </label>
        <input type="text" id="firstName" name="firstName" placeholder="" required value="<%=user.firstName%>"/>
        <br>
        <label for="lastName">Last name: </label>
        <input type="text" id="lastName" name="lastName" placeholder="" required value="<%=user.lastName%>"/>
        <br>
        <label for="username">User name: </label>
        <input type="text" id="username" name="username" placeholder="" required value="<%=user.username%>"/>
        <br>
        <label for="sessionTimeOut">Session Time Out (Minuts): </label>
        <input type="text" id="sessionTimeOut" name="sessionTimeOut" placeholder="" required value="<%=user.sessionTimeOut%>"/>
        <br>
        <label for="created">Created Date: <%=user.created%></label>
        <input type="hidden" id="created" name="created" placeholder="" required value="<%=user.created%>"/>
        <br>
        <span>Permissions: </span><br>

        <input type="checkbox" id="viewSubscriptions" name="permissions" value="View Subscriptions" >
        <label for="viewSubscriptions">View Subscriptions</label>
        <br>
        <input type="checkbox" id="createSubscriptions" name="permissions" value="Create Subscriptions">
        <label for="createSubscriptions">Create Subscriptions</label>
        <br>
        <input type="checkbox" id="deleteSubscriptions" name="permissions" value="Delete Subscriptions">
        <label for="deleteSubscriptions">Delete Subscriptions</label>
        <br>
        <input type="checkbox" id="updateSubscriptions" name="permissions" value="Update Subscriptions">
        <label for="updateSubscriptions">Update Subscriptions</label>
        <br>
        <input type="checkbox" id="viewMovies" name="permissions" value="View Movies">
        <label for="viewMovies">View Movies</label>
        <br>
        <input type="checkbox" id="createMovies" name="permissions" value="Create Movies">
        <label for="createMovies">Create Movies</label>
        <br>
        <input type="checkbox" id="deleteMovies" name="permissions" value="Delete Movies">
        <label for="deleteMovies">Delete Movies</label>
        <br>
        <input type="checkbox" id="updateMovies" name="permissions" value="Update Movies">
        <label for="updateMovies">Update Movies</label>
        
     
        

        <br><br>
        <ul class="nav_list left">
            <li><button class="nav_link" type="submit">Update</button></li>
            <li><a href="/users/managmentUsers" class="nav_link" >Cancel</a></li>
        </ul>
        
    </form>
</div>
<script>
    var user = <%- JSON.stringify(user) %>;
    let userPermissions = user.permissions;
    for (const checkbox of document.querySelectorAll("input[name=permissions]")) {
            if (userPermissions.includes(checkbox.value)) {
              checkbox.checked = true;
            }
          }


</script>
<%-include("partials/footerUsers", {}) %>
<%-include("partials/footer", {}) %>